<div class="container text-center">
  <h1>Tweets of <%=  @user.username %></h1>
   
    <% if current_user != @user && current_user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'users/unfollow', c: @user %>
        <% else %>
          <%= render 'users/follow', c: @user %>
        <% end %>
      </div>
    <% end %>

   <%=link_to "followers #{@user.followers.count}", followers_path(@user) %>
   <%=link_to "followees #{@user.followees.count}", followees_path(@user) %> <br>

  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @tweets %>
  </div>
  <% @tweets.each do | tweet |%>
    <%= render "card_tweet", tweet: tweet %>
  <% end %>
  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @tweets %>
  </div>
</div>
