
<div class="card text-white bg-primary m-3" style="max-width: 20rem;">
  <div class="card-header"><%= c.fullname %></div>
  <div class="card-body">
    <h4 class="card-title">@<%= c.username  %></h4>
  <% if current_user && c != current_user %>
    <div id="follow_form">
      <% if current_user.following?(c) %>
        <%= render 'unfollow', c: c %>
      <% else %>
        <%= render 'follow', c: c %>
      <% end %>
    </div>
    <%= link_to 'tweets', profile_path(c.username), class: "btn btn-info" %>
  <% else %>
    <% if current_user %>
      <%= link_to 'tweets', profile_path(current_user.username), class: "btn btn-info" %>
    <% else %>
      <%= link_to 'tweets', profile_path(c.username), class: "btn btn-info" %>
    <% end %>

  <% end %>


  </div>
</div>
