
<div class="card text-white bg-primary m-3" style="max-width: 20rem;">
  <div class="card-header"><%= c.fullname %></div>
  <div class="card-body">
    <h4 class="card-title">@<%= c.username  %></h4>
  <% if current_user && c != current_user %>
    <div id="follow_form">
      <% if current_user.following?(c) %>
        <%= render 'unfollow', c: c %>
      <% else %>
        <%= render 'follow', c: c %>
      <% end %>
    </div>
    <%= link_to 'tweets', tweet_path(c), class: "btn btn-info" %>
  <% else %>
    <%= link_to 'tweets', tweet_path(current_user), class: "btn btn-info" %>

  <% end %>


  </div>
</div>
